<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tqktqk.springdemo.dao.DefinitionMapper">

    <select id="selectByRole" resultType="cn.tqktqk.springdemo.model.entity.DefinitionEntity">
        select * from definition where role_id=#{role}
    </select>
    <select id="upperLimit" resultType="java.lang.Integer">
         select ifnull(upper_limit,0) from definition where role_id=#{role,jdbcType=INTEGER}
    </select>
    <insert id="insertByRole">
        insert  into definition (`role_id`,`upper_limit`,`time_limit`,`forfeit`,`update`)
        values (#{entity.roleId} ,#{entity.upperLimit} ,#{entity.timeLimit} ,#{entity.forfeit} ,#{entity.update}  )
    </insert>
    <update id="updateByRole">
        UPDATE `library`.`definition`
        SET `upper_limit` = #{entity.upperLimit} , `time_limit` = #{entity.timeLimit} , `forfeit` = #{entity.forfeit} ,`update`=#{entity.update}
        WHERE (`role_id` = #{entity.roleId} );
    </update>
</mapper>
