<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tqktqk.springdemo.dao.UsersMapper">

    <select id="login" resultType="cn.tqktqk.springdemo.model.result.UserLoginResult">
        SELECT a.id userId,a.username,a.nickname nickname,a.password,b.role_id role FROM users a left join user_role b on a.id=b.user_id where a.username=#{username,jdbcType=VARCHAR}
    </select>
    <select id="selectUserInfo" resultType="cn.tqktqk.springdemo.model.result.UserInfos">
        select username,nickname,gender,age,phone,email from users where id=#{userId,jdbcType=INTEGER}
    </select>
    <insert id="insertUser">
        INSERT INTO `library`.`users` (`username`, `nickname`, `gender`, `age`, `phone`, `email`)
        VALUES (#{user.username} , #{user.nickname} , #{user.gender} , #{user.age} , #{user.phone} , #{user.email} );
    </insert>
</mapper>
